body { margin-top:20px;
    align-content: center;        
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
div{
    align-content: center;
    text-align: center;
}