<div style="text-align: center;">
  <table class="table" style="border:1px solid black">
    <tr>
      <td>Addon Id</td>
      <td>Addon Name</td>
      <td>Addon Type</td>
      <td>Cost</td>
      
      
    </tr>
    <tr *ngFor='let aon of addon'>
      <td>{{aon.adid}}</td>
      <td>{{aon.adname | titlecase}}</td>
      <td>{{aon.adOnType | titlecase}}</td>
      <td>{{aon.cost}}</td>
      
      <td><button class="btn btn-primary" (click)="edit(aon)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="delete(aon)">Delete</button></td>
    </tr>
  </table>
</div>