<div style="padding:15px">
  <button class="btn btn-danger" style="float: right;" (click)="logout()">Logout</button>
  <ul class="nav nav-tabs">
    <li><a routerLink='addShop'>Add Shop</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a routerLink='shopList'>Shops List</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a routerLink='addLocation'>Add Location</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a routerLink='locationList'>Location List</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
  </ul>

  <br /><br />
  <router-outlet></router-outlet>
</div>